Cliente/src/META-INF/wsdl/localhost_8080/nodosuma/wsSumaWil.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://redsuma.uniminuto.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://redsuma.uniminuto.com/">

<xs:element name="agregarNum" type="tns:agregarNum"/>

<xs:element name="agregarNumResponse" type="tns:agregarNumResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="pedirSuma" type="tns:pedirSuma"/>

<xs:element name="pedirSumaResponse" type="tns:pedirSumaResponse"/>

<xs:element name="recibirPet" type="tns:recibirPet"/>

<xs:element name="recibirPetResponse" type="tns:recibirPetResponse"/>

<xs:complexType name="pedirSuma">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pedirSumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarNum">
<xs:sequence>
<xs:element name="num" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarNumResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recibirPet">
<xs:sequence>
<xs:element name="idPeti" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recibirPetResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>