Cliente/src/META-INF/wsdl/localhost_8080/nodosuma/wsSumaWil.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://redsuma.uniminuto.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://redsuma.uniminuto.com/" name="wsSumaWil">
<types>
<xsd:schema>
<xsd:import namespace="http://redsuma.uniminuto.com/" schemaLocation="http://localhost:8080/nodosuma/wsSumaWil?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="agregarNum">
<part name="parameters" element="tns:agregarNum"/>
</message>
<message name="agregarNumResponse">
<part name="parameters" element="tns:agregarNumResponse"/>
</message>
<message name="recibirPet">
<part name="parameters" element="tns:recibirPet"/>
</message>
<message name="recibirPetResponse">
<part name="parameters" element="tns:recibirPetResponse"/>
</message>
<message name="pedirSuma">
<part name="parameters" element="tns:pedirSuma"/>
</message>
<message name="pedirSumaResponse">
<part name="parameters" element="tns:pedirSumaResponse"/>
</message>
<portType name="wsSumaWil">
<operation name="hello">
<input wsam:Action="http://redsuma.uniminuto.com/wsSumaWil/helloRequest" message="tns:hello"/>
<output wsam:Action="http://redsuma.uniminuto.com/wsSumaWil/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="agregarNum">
<input wsam:Action="http://redsuma.uniminuto.com/wsSumaWil/agregarNumRequest" message="tns:agregarNum"/>
<output wsam:Action="http://redsuma.uniminuto.com/wsSumaWil/agregarNumResponse" message="tns:agregarNumResponse"/>
</operation>
<operation name="recibirPet">
<input wsam:Action="http://redsuma.uniminuto.com/wsSumaWil/recibirPetRequest" message="tns:recibirPet"/>
<output wsam:Action="http://redsuma.uniminuto.com/wsSumaWil/recibirPetResponse" message="tns:recibirPetResponse"/>
</operation>
<operation name="pedirSuma">
<input wsam:Action="http://redsuma.uniminuto.com/wsSumaWil/pedirSumaRequest" message="tns:pedirSuma"/>
<output wsam:Action="http://redsuma.uniminuto.com/wsSumaWil/pedirSumaResponse" message="tns:pedirSumaResponse"/>
</operation>
</portType>
<binding name="wsSumaWilPortBinding" type="tns:wsSumaWil">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarNum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recibirPet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pedirSuma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsSumaWil">
<port name="wsSumaWilPort" binding="tns:wsSumaWilPortBinding">
<soap:address location="http://localhost:8080/nodosuma/wsSumaWil"/>
</port>
</service>
</definitions>